<!-- FOOTER -->
<footer>
    <div class="footer-container">
        <!-- Logo Group -->
        <div class="footer-logo-group">
            <a href="index.html" class="footer-logo">Studio <span>3</span></a>
            <p class="footer-text">
                Un salon de coiffure d'exception au cœur d'Esch-sur-Alzette, Luxembourg.
            </p>
            <div class="footer-social">
                <a class="footer-social-link" aria-label="visit instagram profile" href="#" target="_blank" rel="noopener">
                    <img class="footer-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/instagram.svg" alt="instagram" width="11" height="11">
                </a>
                <a class="footer-social-link" aria-label="visit facebook profile" href="#" target="_blank" rel="noopener">
                    <img class="footer-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/facebook.svg" alt="facebook" width="6" height="11">
                </a>
                <a class="footer-social-link" aria-label="visit tiktok profile" href="#" target="_blank" rel="noopener">
                    <img class="footer-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/tiktok.ico" alt="tiktok" width="11" height="11">
                </a>
            </div>
        </div>

        <!-- Navigation Links -->
        <ul class="footer-nav">
            <li class="footer-nav-li">
                <span class="footer-header">Sitemap</span>
            </li>
            <li class="footer-nav-li">
                <a class="footer-nav-link" href="/index">Accueil</a>
            </li>
            <li class="footer-nav-li">
                <a class="footer-nav-link" href="/a-propos">À Propos</a>
            </li>
            <li class="footer-nav-li">
                <a class="footer-nav-link" href="/galerie">Galerie</a>
            </li>
            <li class="footer-nav-li">
                <a class="footer-nav-link" href="/contact">Contact</a>
            </li>
            <li class="footer-nav-li">
                <a class="footer-nav-link" href="/mentions-legales">Mentions Légales</a>
            </li>
        </ul>

        <!-- Hours Links -->
        <ul class="footer-nav">
            <li class="footer-nav-li">
                <span class="footer-header">Horaires</span>
            </li>
            <li class="footer-nav-li">
                <span class="footer-nav-link">Mardi : 9h – 19h</span>
            </li>
            <li class="footer-nav-li">
                <span class="footer-nav-link">Mercredi : 9h – 19h</span>
            </li>
            <li class="footer-nav-li">
                <span class="footer-nav-link">Jeudi : 9h – 19h</span>
            </li>
            <li class="footer-nav-li">
                <span class="footer-nav-link">Vendredi : 9h – 20h</span>
            </li>
            <li class="footer-nav-li">
                <span class="footer-nav-link">Samedi : 9h – 17h</span>
            </li>
        </ul>

        <!-- Contact Info -->
        <ul class="footer-contact">
            <li class="footer-nav-li">
                <span class="footer-header">Contact</span>
            </li>
            <li class="footer-contact-li">
                <a class="footer-contact-link" href="tel:+352123456789">+352 123 456 789</a>
            </li>
            <li class="footer-contact-li">
                <a class="footer-contact-link" href="mailto:contact@studio3.lu">contact@studio3.lu</a>
            </li>
            <li class="footer-contact-li">
                <span class="footer-contact-link">10 Rue de l'Alzette, 4011 Esch-sur-Alzette</span>
            </li>
        </ul>
    </div>
    
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="footer-bottom-inner">
            <p class="footer-copyright">© 2025 Studio 3 </p>
            <p class="footer-credit">
                Une expérience digitale réalisée par 
                <a href="https://luxentisluxembourg.lu" target="_blank" rel="noopener">
                    Luxentis
                </a>
            </p>
        </div>
    </div>
</footer>