---
title: Studio 3 | À Propos – Salon de coiffure à Esch-sur-Alzette, Luxembourg
description: Chez Studio 3 à Esch-sur-Alzette, notre équipe passionnée met son expertise en coloration et balayage au service de votre style. Profitez d’une expérience personnalisée et d’un espace barber dédié aux hommes au Luxembourg.
permalink: "/coiffure-femme/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

      <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-310">
      <div class="cs-container">
          <span class="cs-int-title">À Propos</span>
          <div class="cs-breadcrumbs">
              <a href="/" class="cs-link">Accueil</a>
              <a href="/about/" class="cs-link cs-active">À Propos</a>
          </div>
      </div>
      <!--Background Image-->
      <picture class="cs-background">
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 640, height: 600 }) | avif %}" type="image/avif">
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 640, height: 600 }) | webp %}" type="image/webp">
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 640, height: 600 }) | jpeg %}" type="image/jpeg">
          <!--Tablet Image-->
          <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 2048, height: 942 }) | avif %}" type="image/avif">
          <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 2048, height: 942 }) | webp %}" type="image/webp">
          <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 2048, height: 942 }) | jpeg %}" type="image/jpeg">
          <!--Desktop Image-->
          <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 2500, height: 628 }) | avif %}" type="image/avif">
          <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 2500, height: 628 }) | webp %}" type="image/webp">
          <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 2500, height: 628 }) | jpeg %}" type="image/jpeg">
          <img src="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 2500, height: 628 }) | jpeg %}" alt="library" width="1920" height="482" loading="eager" decoding="async">
      </picture>
  </div>


    <!-- ============================================ -->
    <!--                PRICE LISTING                 -->
    <!-- ============================================ -->

  <section class="pricing-section">
    <div class="pricing-container">
  
      <!-- Block 1 -->
      <div class="pricing-block">
        <div class="pricing-left">
          <h2>Balayage</h2>
          <span class="pricing-category">[Femme]</span>
        </div>
  
        <div class="pricing-right">
          <div class="pricing-item">
            <div class="item-top">
              <span class="item-title">Coup d'Éclat</span>
              <span class="item-line"></span>
              <span class="item-price">€249</span>
            </div>
            <span class="item-sub">[À partir de]</span>
          </div>
  
          <div class="pricing-item">
            <div class="item-top">
              <span class="item-title">Inversé</span>
              <span class="item-line"></span>
              <span class="item-price">€219</span>
            </div>
            <span class="item-sub">[À partir de]</span>
          </div>
  
          <div class="pricing-item">
            <div class="item-top">
              <span class="item-title">Coup de Soleil</span>
              <span class="item-line"></span>
              <span class="item-price">€199</span>
            </div>
            <span class="item-sub">[À partir de]</span>
          </div>
        </div>
      </div>
  
      <!-- Block 2 -->
      <div class="pricing-block">
        <div class="pricing-left">
          <h2>Coupe & Coiffage Femme</h2>
          <span class="pricing-category">[Femme]</span>
        </div>
  
        <div class="pricing-right">
          <div class="pricing-item">
            <div class="item-top">
              <span class="item-title">Sh. + Coupe + Brushing</span>
              <span class="item-line"></span>
              <span class="item-price">€64</span>
            </div>
            <span class="item-sub">[À partir de]</span>
          </div>
  
          <div class="pricing-item">
            <div class="item-top">
              <span class="item-title">Sh. + Brushing</span>
              <span class="item-line"></span>
              <span class="item-price">€34</span>
            </div>
            <span class="item-sub">[À partir de]</span>
          </div>
  
          <div class="pricing-item">
            <div class="item-top">
              <span class="item-title">Chignon</span>
              <span class="item-line"></span>
              <span class="item-price">€71</span>
            </div>
            <span class="item-sub">[À partir de]</span>
          </div>
        </div>
      </div>

       <!-- Block 3 -->
       <div class="pricing-block">
        <div class="pricing-left">
          <h2>Coloration</h2>
          <span class="pricing-category">[Femme]</span>
        </div>
  
        <div class="pricing-right">
          <div class="pricing-item">
            <div class="item-top">
              <span class="item-title">Coloration complète</span>
              <span class="item-line"></span>
              <span class="item-price">€88</span>
            </div>
   
          </div>
  
          <div class="pricing-item">
            <div class="item-top">
              <span class="item-title">Coloration racines</span>
              <span class="item-line"></span>
              <span class="item-price">€54</span>
            </div>
          </div>
  
          <div class="pricing-item">
            <div class="item-top">
              <span class="item-title">Gloss (Patine)</span>
              <span class="item-line"></span>
              <span class="item-price">€40</span>
            </div>
          </div>
        </div>
      </div>
  
          <!-- Block Students -->
          <div class="pricing-block">
            <div class="pricing-left">
              <h2>Enfant & Étudiante</h2>
              <span class="pricing-category">[Enfants]</span>
            </div>
      
            <div class="pricing-right">
              <div class="pricing-item">
                <div class="item-top">
                  <span class="item-title">Coupe Enfant 0-5 Ans</span>
                  <span class="item-line"></span>
                  <span class="item-price">€20</span>
                </div>
              </div>
      
              <div class="pricing-item">
                <div class="item-top">
                  <span class="item-title">Coupe + Coiffage Fille 6-11 ans</span>
                  <span class="item-line"></span>
                  <span class="item-price">€35</span>
                </div>
              </div>
      
              <div class="pricing-item">
                <div class="item-top">
                  <span class="item-title">Sh. + Coupe + Coiffage Étudiante</span>
                  <span class="item-line"></span>
                  <span class="item-price">€49</span>
                </div>
              </div>
            </div>
          </div>

    </div>
  </section>

  <section id="cta-banner-1">
    <div class="cta-container">
      <p class="cta-kicker">What are you waiting for?</p>
      <h2 class="cta-title">Book a treatment</h2>
      <a class="cta-btn" href="https://salonkee.lu/salon/studio-3">Book now</a>
    </div>
  </section>


<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-1446">
  <div class="cs-container">
      <!--Gallery-->
      <div class="cs-gallery">
          <!--Picture 1-->
          <picture class="cs-image">
              <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
              <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
              <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg" alt="gallery" width="305" height="400">
          </picture>
          <!--Picture 2-->
          <picture class="cs-image">
              <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/melting-ice.jpeg">
              <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/melting-ice.jpeg">
              <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/melting-ice.jpeg" alt="gallery" width="305" height="400">
          </picture>
          <!--Picture 3-->
          <picture class="cs-image">
              <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/windmills.jpeg">
              <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/windmills.jpeg">
              <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/windmills.jpeg" alt="gallery" width="305" height="400">
          </picture>
          <!--Picture 4-->
          <picture class="cs-image">
              <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign2.jpeg">
              <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign2.jpeg">
              <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign2.jpeg" alt="gallery" width="305" height="400">
          </picture>
          <!--Picture 5-->
          <picture class="cs-image">
              <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/falling-rocks.jpeg">
              <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/falling-rocks.jpeg">
              <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/falling-rocks.jpeg" alt="gallery" width="305" height="400">
          </picture>
          <!--Picture 6-->
          <picture class="cs-image">
              <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign4.jpeg">
              <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign4.jpeg">
              <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign4.jpeg" alt="gallery" width="305" height="400">
          </picture>
          <!--Picture 7-->
          <picture class="cs-image">
              <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign3.jpeg">
              <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign3.jpeg">
              <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign3.jpeg" alt="gallery" width="305" height="400">
          </picture>
          <!--Picture 8-->
          <picture class="cs-image">
              <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/desert-tree.jpeg">
              <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/desert-tree.jpeg">
              <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/desert-tree.jpeg" alt="gallery" width="305" height="400">
          </picture>
      </div>
  </div>
</section>
                    

    <script>
        const nav = document.querySelector("#cs-navigation");
        const banner = document.querySelector("#banner-310");
      
        if (nav && banner) {
          const observer = new IntersectionObserver(
            ([entry]) => {
              nav.classList.toggle("cs-scrolled", !entry.isIntersecting);
            },
            {
              threshold: 0,
              rootMargin: "-800px 0px 0px 0px" 
              // déclenche 100px avant la fin du banner
            }
          );
      
          observer.observe(banner);
        }
      </script>


{% endblock %}